.el-loading-spinner .path {
  stroke: #d60808;
}

.el-card {
  margin-bottom: 40px;
  &__body {
    border-left: 6px solid $--color-primary;
  }
}

.el-tabs__item {
  font-size: 1.25rem;
}

.el-pagination {
  text-align: center;
}

.el-dialog {
  min-width: 260px;
}
