.el-container {
  height: 100vh;
}

.el-footer {
  background-color: $--background-color-base;
  line-height: 60px;
}

.el-loading-spinner .path {
  stroke: #d60808;
}

.el-card {
  margin-top: 20px;
  text-align: center;
}
