// paddings and margins

$max: 80;
$offset: 4;
$unit: 'px';
@mixin list-loop($className, $styleName) {
  $i: 0;
  @while $i <= $max {
    #{$className + $i} { 
      #{$styleName}: #{$i + $unit} !important;
    }
    $i: $i + $offset;
  }
}
@include list-loop('.pl-', 'padding-left');
@include list-loop('.pr-', 'padding-right');
@include list-loop('.pt-', 'padding-top');
@include list-loop('.pb-', 'padding-bottom');

@include list-loop('.ml-', 'margin-left');
@include list-loop('.mr-', 'margin-right');
@include list-loop('.mt-', 'margin-top');
@include list-loop('.mb-', 'margin-bottom');

// general

.cursor-pointer  {
  cursor: pointer;
}
.text-center {
  text-align: center;
}
.github-fork {
  position: fixed;
  right: 0;
}
.w100 {
  width: 100%;
}
