@import '~modern-css-reset/dist/reset.min.css';
@import "./_colors.scss";
@import "./_helpers.scss";
@import "./media.scss";

$--color-primary: #d60808;
$--color-danger: #d60808;

// ElementUI
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";
@import "./_element.scss";

html {
  font-family: 'Roboto', sans-serif;
}
